.body-img{
    background:url(./asset/image/hero-pink-tax-1140x570.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: image heigth 40%;
}
.div-border{
    
    border: solid;
    width: 72%;
    height: 40%;
    margin-top: 7%;
    
    background-color: rgb(0 0 0 / 5%);
    
}
.div-aline{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 13px;
    align-items: center;
    align-items: flex-end;
}
.div-box{
    border: solid 1px rgb(34, 10, 66);
    width: 226px;
    height: 314px;
    background-color: white;
    
}
.box-aline{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.box-aline>div>img{
    idth: 64%;
    height: 49%;
    margin: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}
.arrange>div>button{
    background-color: #ff4500e0;
    text-size-adjust: 8px;
    text-align: bold;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    
    padding-top: 8%;
    border-radius: 4px;
    padding-bottom: 8%;
    margin-left: -16%;
}
.div-qty{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: -3%;
    align-items: center;
    margin-left: 5px;
    border: 1px solid;
    width: 41%;
    margin-top: 3%;
    padding-top: 0%;
    margin-right: 4%;
    border-radius: 4px;
    
}
.qty-style{
    margin: 1px;
    width: 44%;
    border: none;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: -24px;
    border-left: none;
    border-right: none;
    background: transparent;
    padding-top: 2px;
   
}
.div-qty>div>input{
    border: solid 1px;


}
.div-ninu{
    margin-left: 0px;
    margin-right: -4px;
    border: solid 1px;
    background-color: gray;
}
.div-add{
    margin-left: 20px;
    border-left: none;
}
.arrange{
    display: flex;
    align-items: flex-end;
    margin-left: 21%;
    margin-top: 1%;
}